.main {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  gap: 15px;
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
  }
}
.bottom {
  display: flex;
  .left {
    display: flex;
    flex-direction: column;
  }
  display: flex;
  .l_top {
    font-family: "Josefin Sans";
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
  }
  .l_mid {
    font-family: "Josefin Sans";
    font-size: 21px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #fb2e86;
  }
  .texts {
    display: flex;
    flex-direction: column;
  }
  .texts-left,
  .texts-right {
    display: flex;
    gap: 5px;
  }
  .texts-item {
    display: flex;
    flex-direction: row;
  }
  .text-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      /* or 176% */

      letter-spacing: 0.02em;

      color: #b7bacb;
    }
  }
}
.l_btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  letter-spacing: 0.02em;

  color: #b7bacb;
}
