
.featured_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .featured_text{
        font-family: 'Josefin Sans';
        font-size: 42px;
        font-weight: 700;
        line-height: 49px;
        color: #1A0B5B;
    }

    .featured_parent{
        display: flex;
        gap: 2rem;
    }
}

.latest_product_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .latest_product_text{
        font-family: 'Josefin Sans';
        font-size: 42px;
        font-weight: 700;
        line-height: 49px;
        color: #1A0B5B;
    }
    .latest_parent{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}