.parent {
  background-color: #f1f0ff;
  height: 36rem;
  margin: 4rem 0 4rem 0;
}

.feature-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  .feature-topic {
    font-family: "Josefin Sans";
    font-size: 2.1rem;
    line-height: 3rem;
    letter-spacing: 0.015em;
    color: #151875;
  }
  .features{
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;

    letter-spacing: 0.015em;

    color: #acabc3;
  }

  .feature-section-bullet1{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #2BF5CC;
  }
  .feature-section-items{
    display: flex;
    flex-direction: row;
  }
}
